---
const platform = "Github";
const username = "marccadell";

import Social from './Social.astro';
import '../styles/global.css';
---
<style>
    footer {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <Social platform="Twitter" username="astrodotbuild" />
  <Social platform="Github" username="marccadell" />
  <Social platform="Youtube" username="astrodotbuild" />
</footer>